/* ─── PAGE LAYOUT ─────────────────────────────────────── */
.admin-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.admin-homepage-container{
    flex: 1;
  padding: 50px;
  background-color: #fff;
  overflow-y: auto;
}