.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.register-box {
  background-color: #fff;
  padding: 2rem;
  width: 350px;
  border-radius: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
}

.register-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.register-input {
  width: 92%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
}

.password-requirements {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.requirement {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.requirement.unmet {
  color: #ff0000;
}

.requirement.met {
  color: #00aa00;
}

.register-btn {
  width: 100%;
  background-color: #d3d3d3;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid #000;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.login-link {
  text-align: right;
  font-size: 0.875rem;
}

.login-link a {
  color: #3b82f6;
  text-decoration: none;
}

.dob-input-wrapper {
  position: relative;
  width: 100%;
}

.date-picker-input {
  width: 117%;
  padding-right: 40px; /* space for icon */
}

.calendar-icon {
  position: absolute;
  right: 10px;
  top: 38%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  cursor: pointer;
  opacity: 0.8;
}

.regAcc-confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.regAcc-confirmation-box {
  background-color: white;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.regAcc-confirmation-box button {
  margin: 10px;
  padding: 8px 16px;
  cursor: pointer;
}

.regAcc-yes-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 4px;
}

.regAcc-no-button {
  background-color: #95a5a6;
  color: white;
  border: none;
  border-radius: 4px;
}